@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Arial;
}

body{
  height: 100vh;
  background: #f4f4f4;
  display: flex;
  align-items:center;
  justify-content: center;
}

.wrapper{
  background: #f6f8f9;
  width: 20rem;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 50px -9px rgba(0, 0, 0, 0.1);
}

.screen{
  height: 3.5rem;
  margin-bottom: 2rem;
  text-align: right;
}

.button-box{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .5rem;
}

.btn-number{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  background: #e9f0f4;
  border: transparent;
  border-radius: 0.7rem;
  padding: 10px;
  cursor: pointer;
  color: #242424;
  font-size: 1.5rem;
  transition: 0.4s ease;
}

.btn-number:hover{
  background-color:#dde3e7;
}

.equal{
  background: tomato;
  color: #fff;
  grid-column: 3/5;
}

.equal:hover{
  background: rgb(187, 67, 45);
}

.operators{
  background: rgb(76, 88, 255);
  color: #fff;
}

.operators:hover{
  background: rgb(42, 48, 142);
}
 
